/* 
    Document   : style
    Author     : Suraj
    Description:
    
*/
.slider-wrapper {
    border: 1px solid #333;
    display: block;
    position: relative;
    width: 500px;
    height: 375px;
    overflow: hidden;
}
#slider .nivo-main-image { height: 375px; }
#slider img { max-width: none; height: 375px; }
